<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>


   <%- include('./partials/nav.ejs') %>


    <div class="not-found content">
        YOUR PRINCESS IS IN ANOTHER CASTLE
    </div>

    <%- include ('./partials/footer.ejs') %>
     </body>
</html>